/* Basic QSS styling for GUI */
*{
    margin: 0;
    padding: 0;
}

QMainWindow{
    background-color: #A3D5FF;
}

#top_right_area {
    background-color: #6F73D2;
}

#title{
    font-size: 18px;
    font-weight: bold;
    color: #D9F0FF;
}

#set_res{
    padding: 7px;
    background: #6F73D2;
    color: #D9F0FF;
    font-size: 12px;
    border-radius: 10px
}

#error{
    color: #FF0000;
    font-size: 12px;
}